In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
PATH_DATA = '../thedata/'

In [17]:
df = pd.read_csv(PATH_DATA+'food_delivery_datasets.csv')

In [18]:
df

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587
...,...,...,...,...,...,...,...,...,...,...,...
1071,FOOD-10921,0,2018-09-20T15:01:52.152828,900,103200,1296335,5.0,4000,742742150,Completed,0.248328
1072,FOOD-10265,5000,2018-07-26T14:43:23.655294,1579,145700,1135466,5.0,7000,742566851,Completed,0.268251
1073,FOOD-10534,0,2018-08-21T20:10:59.283185,2606,177200,1383625,NaN,15000,742571888,Completed,0.132528
1074,FOOD-10158,0,2018-07-16T14:42:23.214427,2428,49300,1094787,5.0,9000,742725064,Completed,0.167946
1075,FOOD-10770,0,2018-09-11T14:18:19.494258,1547,43000,1010922,5.0,9000,742594499,Completed,0.358051

In [20]:
# The mean value of errands delivery time estimation in second unit 
df['eta_seconds'].mean()

1632.2890334572492

In [22]:
# The mean value of food price that was paid by the customer
df['food_price'].mean()

78041.82156133829

In [26]:
# The sequence of the restaurant based on the rating more than 0 by the customer
condition = df['rating']>0
df['resto_id'][condition].value_counts()

742610474    8
742676756    7
742538031    7
742536407    5
742534610    5
            ..
742675089    1
742616723    1
742741653    1
742531743    1
742587001    1
Name: resto_id, Length: 447, dtype: int64

In [29]:
# The sequence of the customer who frequently didn't use voucher
condition = df['voucher_amount']==0
df['cust_id'][condition].value_counts()

366528     32
361927     31
366721     30
316834     30
1094787    30
           ..
514284      1
1044732     1
580514      1
143669      1
146294      1
Name: cust_id, Length: 138, dtype: int64

In [32]:
# Show the tabel of the restaurant and the rating that given by customer in 7 top sequences initially
a = df[['resto_id', 'rating']]
a.head(7)

    resto_id  rating
0  742638033     5.0
1  742767245     5.0
2  742618303     NaN
3  742541172     5.0
4  742604875     NaN
5  225641128     5.0
6  742550960     5.0

In [33]:
# To know how many times cancelled and completed errands 
group_status = df.groupby('status')
group_status['status'].size()

status
Cancelled    195
Completed    881
Name: status, dtype: int64

In [35]:
# To know how much highest fee that released by the customer
df['delivery_fee'].max()

44000